h1 {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
}

.image {
    margin: 10px;
}

img {
    display: block;
    width: 150px;
    height: 100px;
    object-fit: cover;
    transition: 1s;
}

img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}