h1 {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

img {
    display: block;
    width: calc((100% - 40px) / 4);
    height: 100px;
    object-fit: cover;
    transition: 0.4s;
    padding: 5px;
}

img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}